---
import '../styles/global.css';

interface Props {
	title?: string;
	description?: string;
}

const {
	title = 'Erik Engler | Landing Page',
	description = 'Persönliche Landing Page von Erik Engler, Informatik-Student und engagiert in StuRa und FSR.',
} = Astro.props;
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="color-scheme" content="light" />
		<title>{title}</title>
	</head>
	<body class="antialiased">
		<slot />
	</body>
</html>
